ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */
/* Element Selectors */
p{
  color:red;
}

/* Class selector */
.note{
  font-size: 20px;
}

/* id selector */
#id-selector-demo{
  color:green;
}

/* attribute selector */
li[value="4"]{
  color:blue;
}
/* universe selector */
*{
  text-align: center;
}